*.py[cod]
*$py.class
*.egg-info/
*.egg
.idea/
.vscode/
build/
install/
__pycache__/
Log/
dist/
.DS_Store
*.ini
*.convex.stl
*.nonconvex.stl
temp*/
*.mp4
*.avi
*.png
*.jpg
*.ckpt
*.pth
*.npy
*.npz
*.log
outputs/
.pytest_cache/
!docs/*